//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.should-block {
    display: block !important;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-stretch {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.ribbon-animate:hover {
    transform: scale(1.2);
}

.crosshair {
    cursor: crosshair;
}

.text-small {
    font-size: 0.9em;
}